
.body{
    background-color: #F5F5F5 !important;
    font-family: sans-serif;
}

.navbar a{
    text-decoration: none;
    color: #116A3A;
    text-transform: uppercase;
    font-family:sans-serif;
}

/* Hero section */

.hero-title{
    color: #116A3A;
    font-weight: 900;
}

/* Hero section End */


/* footer section */
footer a{
    text-decoration: none;
    color:white;
    font-family:sans-serif;
    font-weight: bold;
}
footer a:hover {
  color: #D1BC18 !important;
}


/* End of footer section */