.navbar a{
    text-decoration: none;
    color: #116A3A;
    text-transform: uppercase;
    font-family:sans-serif;
}

/* Hero section */

.hero-title{
    color: #116A3A;
    font-weight: 900;
}

/* Hero section End */