@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Gasoek One';
    src: url('../fonts/Gasoek-One/TestFoundersGroteskX-Condensed-Bold-BF66175e96aecb2.otf');
    font-weight: 900;
}

